<!-- Footer -->
<footer class="container text-center py-3 mb-4">
  <p class="footer-text mb-1">© 2025 R.A.T.</p>
  <p class="footer-subtext text-muted small">Only a small alternative based on <a href="https://nova.astrometry.net"
      target="_blank" class="text-decoration-none">Astrometry.net</a></p>
</footer>